@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

.navbar-dark{
    padding: 0;
    margin: 0;
    width:100%;
    background: #343A40;
    font-family: 'Roboto', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
} 


/* Logotipo */

 .logotipo{
    display: flex; 
    padding-top: auto;
    padding-bottom: auto;
    font-family: 'Alegreya', 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 800;
    width: 45px;
    height: 45px;
    margin: 0 10px 0 30px;
}

.logotipo h4 {
    padding-top: auto;
    padding-bottom: auto;
    
}

#Barranav {
    align-items: center;
}
/*header img {
width: 60px;
height: 60px;
margin: 0 10px 0 30px;
} */

/* Menu */
/* #btn-menu {
    display:none;

}

header label {
    display: block;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-left: 1px solid #fff;
}

header label:hover{
    cursor:pointer;
    background: rgba(44, 238, 238, 0.5);
    
}

.menu ul {
    margin:0;
    padding: 10px;
    list-style: none;
    display: flex;
    
}

.menu li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: aliceblue;
    
}

.menu li:hover{
    background: rgba(0, 236, 236, 0.5);
}

@media ( max-width:768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: #343A40;
        width: 40%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
} */


/* Botón */
/* .btn {
    height: 20px;
}

.btn-login {
    width: 80px;
} */

/* Buscador */
/* .search{
    display: flex;
    padding: 15px;  
}

.search input {
    width: 150px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid rgb(190, 211, 211, 0.5);
    padding: 0 20px;
    font-size: 16px;
    color: rgb(190, 190, 190);

}
.icon-search{
    
    border-radius: 50%;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    line-height: 30px;
    text-align:center;
    color: rgb(239, 241, 243);
    cursor: pointer;
}

 */

