@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background: #1F1F1F;
  color: rgb(230, 234, 238);
}


